In [32]:
import pandas as pd
train=pd.read_csv(r'C:\Users\shashank\Desktop\Loan prediction\Refined_trainset')
test=pd.read_csv(r'C:\Users\shashank\Desktop\Loan prediction\Refined_testset')

In [33]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log,ApplicantIncome_log
0,LP001002,1,0,0,1,0,5849,0.0,146.412162,360.0,1.0,1,1,4.986426,8.674026
1,LP001003,1,1,1,1,0,4583,1508.0,128.000000,360.0,1.0,0,0,4.852030,8.430109
2,LP001005,1,1,0,1,1,3000,0.0,66.000000,360.0,1.0,1,1,4.189655,8.006368
3,LP001006,1,1,0,0,0,2583,2358.0,120.000000,360.0,1.0,1,1,4.787492,7.856707
4,LP001008,1,0,0,1,0,6000,0.0,141.000000,360.0,1.0,1,1,4.948760,8.699515

In [34]:
test=test.drop(columns=['Unnamed: 0'])
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,ApplicantIncome_log,LoanAmount_log
0,LP001015,1,1,0,1,0,5720,0,110.0,360.0,1.0,1,8.651724,4.700480
1,LP001022,1,1,1,1,0,3076,1500,126.0,360.0,1.0,1,8.031385,4.836282
2,LP001031,1,1,2,1,0,5000,1800,208.0,360.0,1.0,1,8.517193,5.337538
3,LP001035,1,1,2,1,0,2340,2546,100.0,360.0,1.0,1,7.757906,4.605170
4,LP001051,1,0,0,0,0,3276,0,78.0,360.0,1.0,1,8.094378,4.356709

In [35]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log,ApplicantIncome_log
0,LP001002,1,0,0,1,0,5849,0.0,146.412162,360.0,1.0,1,1,4.986426,8.674026
1,LP001003,1,1,1,1,0,4583,1508.0,128.000000,360.0,1.0,0,0,4.852030,8.430109
2,LP001005,1,1,0,1,1,3000,0.0,66.000000,360.0,1.0,1,1,4.189655,8.006368
3,LP001006,1,1,0,0,0,2583,2358.0,120.000000,360.0,1.0,1,1,4.787492,7.856707
4,LP001008,1,0,0,1,0,6000,0.0,141.000000,360.0,1.0,1,1,4.948760,8.699515

In [36]:
from sklearn.model_selection import train_test_split
train=train.drop(columns=['Loan_ID','ApplicantIncome','LoanAmount'],axis=0)
test=test.drop(columns=['Loan_ID','ApplicantIncome','LoanAmount'],axis=0)
Y=train['Loan_Status']
X=train.drop(columns=['Loan_Status'],axis=0)
train_X, Valid_X, train_Y, Valid_Y = train_test_split(X, Y,test_size=0.1, random_state=0)

In [37]:
#Logistic Regression Training
from sklearn.linear_model import LogisticRegression
#there is no effect on varing value of C for regularization
model=LogisticRegression(C=5)
model.fit(train_X,train_Y)

LogisticRegression(C=5, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [39]:
print(model.score(train_X,train_Y))
print(model.score(Valid_X,Valid_Y))

0.8079710144927537
0.8709677419354839

In [40]:
#K-Nearest Neighbour Training
from sklearn.neighbors import KNeighborsClassifier
#neighbours = 1 completely fits data!!!
#but we avoid it dut to overfitting
model = KNeighborsClassifier(n_neighbors = 1)
model.fit(train_X,train_Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [41]:
print(model.score(train_X,train_Y))
print(model.score(Valid_X,Valid_Y))

1.0
0.6612903225806451

In [42]:
#K-Nearest Neighbour Training
model = KNeighborsClassifier(n_neighbors = 2)
model.fit(train_X,train_Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=2, p=2,
           weights='uniform')

In [43]:
print(model.score(train_X,train_Y))
print(model.score(Valid_X,Valid_Y))

0.8496376811594203
0.6129032258064516

In [44]:
#Naive Bayes Training
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(train_X, train_Y)

GaussianNB(priors=None)

In [45]:
print(model.score(train_X,train_Y))
print(model.score(Valid_X,Valid_Y))

0.7952898550724637
0.8709677419354839

In [46]:
#Gradient Boosted Tree Training
from sklearn.ensemble import GradientBoostingClassifier
#increasing maxdepth completely fits the training data
model = GradientBoostingClassifier(learning_rate =0.8, max_depth = 2)
model.fit(train_X, train_Y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.8, loss='deviance', max_depth=2,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [47]:
print(model.score(train_X,train_Y))
print(model.score(Valid_X,Valid_Y))

0.9855072463768116
0.7580645161290323

In [48]:
#Random Forest Training
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=10)
model.fit(train_X, train_Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [49]:
print(model.score(train_X,train_Y))
print(model.score(Valid_X,Valid_Y))

0.9855072463768116
0.6935483870967742

In [50]:
#Decision Tree training
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(max_depth=5)
model.fit(train_X, train_Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [51]:
print(model.score(train_X,train_Y))
print(model.score(Valid_X,Valid_Y))

0.9855072463768116
0.8387096774193549

In [52]:
#Neural-Network training
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(hidden_layer_sizes = [6,4,2], solver='adam',activation='relu')
model.fit(train_X, train_Y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=[6, 4, 2], learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [53]:
print(model.score(train_X,train_Y))
print(model.score(Valid_X,Valid_Y))

0.6793478260869565
0.7580645161290323